<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Past Analysis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <div class="navbar">
        <a href="/home">Home</a>
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#contact">Contact</a>
        <a href="/analysis">Live Analysis</a>
        <a href='/pastanalysis'>Past Analysis</a>
        <a href="/" class="logout">Logout</a>
    </div>
    
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>

    
    <h2>Food items that you searched in the Past:</h2>
    <div class="results-container">
    {% if analysis_collection %}
        <table class='results-table'>
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Food Item</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody>
                {% for analysis in analysis_collection %}
                <tr>
                    <td>{{ analysis.Username }}</td>
                    <td>{{ analysis.Food_Item }}</td>
                    <td><button class="print-btn" onclick="window.location.href='/print?food_item={{ analysis.Food_Item }}'">Print</button></td>
                    <td><button class="delete-btn" onclick="window.location.href='/delete?food_item={{ analysis.Food_Item }}'">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    {% else %}
        <p>You haven't searhced any food items</p>
    {% endif %}
    </div>


</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Apply the fade-in effect when the page is loaded
        document.body.classList.add('fade-in');
    
        // Remove the fade-in class after the animation completes
        setTimeout(() => {
            document.body.classList.remove('fade-in');
        }, 500); // Match the duration of the fade-in effect
    
        // Fade-out effect when navigating away
        document.addEventListener('click', (e) => {
            const target = e.target.closest('a'); // Check for link clicks
            if (target && target.href) {
                e.preventDefault(); // Prevent instant navigation
                document.body.classList.add('fade-out');
                setTimeout(() => {
                    window.location.href = target.href; // Navigate after fade-out
                }, 500); // Match the duration of the fade-out effect
            }
        });
    });
    
</script>
</html>